/* src/components/Login.css */

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f2f5;
}

.login-form {
    width: 100%;
    max-width: 400px;
    padding: 40px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-input {
    font-size: 16px;
    padding: 10px;
}

.error-message {
    color: red;
    margin-bottom: 20px;
}

.login-form-buttons {
    display: flex;
    gap: 20px; /* 将 gap 属性的值改为 20px，以增加按钮之间的间距 */
    justify-content: space-between;
}

.login-button, .register-button {
    flex: 1;
    font-size: 16px;
}
